        html{
            scroll-behavior: smooth;
        }
        body{
            height:100%;
            margin: 0;
        }
        .logo{
            object-fit: cover;
            width: 0.001px;
            height: 0.001px;
        }
        .split {
            height: 100%;
            width: 50%;
            position: auto;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
            }
        .bgimg1{
            position:relative;
            min-height: 100%;
            min-width: 1024px;
            width: 100%;
            height: auto;
            position: fixed;
            top: 0;
            left: 0;
            background-image: url("bg2.jpg");
            height:100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left top;
            opacity: 0.95;
            overflow: auto;
        }
        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        }
        li {
        float: left;
        border-right:1px solid #bbb;
        }

        li:last-child {
        border-right: none;
        }

        li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }

        li a:hover:not(.active) {
        background-color: #111;
        }

        .active {
        background-color: #0c525c;
        }
        .head1{
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            width: 100%;
            height:100%;
            padding: auto;
            margin: auto;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: 10px;
            color: rgb(204, 215, 215);
        }
        
        .container{
            padding: 20px 70px;
            color:#fff;
        }

        .current-info{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .date-container{
            font-weight: 100;
        }
        .date-container .time{
            font-size: 70px;
        }

        .date-container #am-pm{
            font-size: 30px;
            margin-left: 20px;
        }

        .date-container .date{
            font-size: 30px;
        }

        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        }
       
        .wrapper .outer{
        position:absolute;
        right: 50px;
        color: #111;
        display: flex;
        align-items: right;
        justify-content: right;
        }
        .wrapper .card{
        margin-top: -100px ;
        background: #fff;
        width: 430px;
        display: flex;
        align-items: center;
        padding: 20px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        justify-content: space-between;
        border-radius: 100px 20px 20px 100px;
        box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
        animation: animate 15s linear infinite;
        animation-delay: calc(3s * var(--delay));
        }
        .outer:hover .card{
        animation-play-state: paused;
        }
        .wrapper .card:last-child{
        animation-delay: calc(-3s * var(--delay));
        }
        @keyframes animate {
        0%{
            opacity: 0;
            transform: translateY(100%) scale(0.5);
        }
        5%, 20%{
            opacity: 0.4;
            transform: translateY(100%) scale(0.7);
        }
        25%, 40%{
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0%) scale(1);
        }
        45%, 60%{
            opacity: 0.4;
            transform: translateY(-100%) scale(0.7);
        }
        65%, 100%{
            opacity: 0;
            transform: translateY(-100%) scale(0.5);
        }
        }
        .card .content{
        display: flex;
        align-items: center;
        }
        .wrapper .card .img{
        height: 90px;
        width: 90px;
        position: absolute;
        left: - 5px;
        background: #fff;
        border-radius: 50%;
        padding: 5px;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
        }
        .card .img img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        }
        .card .details{
        margin-left: 100px;
        }
        .details span{
        font-weight: 600;
        font-size: 18px;
        }
        .card a{
        text-decoration: none;
        padding: 7px 18px;
        border-radius: 25px;
        color: #fff;
        background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
        transition: all 0.3s ease;
        }
        .card a:hover{
        transform: scale(0.94);
        }


        .today{
            height: 100px;
            position: auto;
            color: #111;
            padding: 25px;
            box-sizing: border-box;
            display: flex;
            align-items: flex-end;
            text-decoration: none;
            border: 4px solid #b3bcb7;
            border-radius: 15px;
            margin-top: 2px;
            margin-bottom: 2px;
            background: linear-gradient(to bottom, #bfcbd0 0%, #3ad2c8 100%);
          }
        

        .weather-forecast-item{
            height: 100px;
            margin-top: 20px;
            position: auto;
            padding: 20px;
            color: #111;
            box-sizing: border-box;
            display: flex;
            align-items: flex-end;
            border-radius: 15px;
            text-decoration: none;
            border: 4px solid #b3bcb7;
            margin-bottom: 20px;
            box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
            background: linear-gradient(to bottom, #bfcbd0 0%, #3ad2c8 100%);
        }

        .future-forecast{
            margin-top: 100px;
            box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
        }
        .w-icon{
            margin-top: 20px;
            align-items: center;
        }

        form {
            width: 100%;
            margin-top: 5px;
            margin-right: 15px;
            color: rgb(224, 232, 227);
            display: flex;
            padding: 5px;
            border: 2px solid currentColor;
            border-radius: 5px;
          }
          
         